{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="row mt-3">
    <div class="col-md-8">
        <div class="row">
            {% for article in articles %}

                <div class="card col-md-4 mb-3" style="width: 18rem;">
                <p class="date">Ecrit le : {{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i') }}</p>

                <img src="/assets/blog/images/{{ article.image }}" class="card-img-top" alt="{{ article.title }}">
                    <div class="card-body">
                        <h2 class="card-title"> {{ article.title }} </h2>
                        <a href="{{ path('show', {'id': article.id})}}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <ul class="list-group">
            {% for  category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ path('show_article', {'id':category.id}) }}" style="text-decoration:none">{{ category.title }}
                        <span class="badge bg-primary rounded-pill">{{category.articles | length }} article(s)</span>
                    </a>
                </li>
            {% endfor %}
            
        </ul>
    </div>
    
</div>
{% endblock %}
